@font-face {
    font-family: 'Furore';
    src: url('Furore.woff2') format('woff2'),
        url('Furore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('OverpassMono-Light.woff2') format('woff2'),
        url('OverpassMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

